body {
  font-family: Minecraft;
  src: "Minecraft.ttf";
}

.main {
  max-width: 321px;
  height: 444px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 9px solid #476e4b;
  background: #f5f5ef;
  box-shadow: 8px 11px 4px 0px rgba(0, 0, 0, 0.5);
  padding-top: 33px;
}

div {
  max-width: 202px;
  height: 145px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 7px 0px 7px;
  display: block;
  border-radius: 13px;
  background: #fff;
  margin-bottom: 0px;
}
img {
  width: 98px;
  height: 98px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 23px;
}

h1 {
  color: #1f1502;
  height: 22px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 52px;
}

p {
  color: #1f1502;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 10px;
}

hr {
  max-width: 202px;
  height: 1px;
  margin-bottom: 23px;
}
